[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pip = "==18.0"
numpy = "*"
spacy = "*"
nltk = "*"
"psycopg2" = "*"
flask = "*"
sklearn = "*"
geopy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
