<meta charset="utf-8">
<head>
    <!-- import plugin script -->
    <!-- <script src="static/Chart.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <script src="http://google.github.io/palette.js/palette.js"></script>

    <!-- import scripts -->
    <script src="static/languages_chart.js" type="text/javascript"></script>
    <script src="static/topics_chart.js" type="text/javascript"></script>

    <title>Media Analyzer</title>
</head>
<body>
    <h1>Media Analyzer</h1>
    <p>Number of tweets:  {{tweet_count}}</p>
    <!-- bar chart canvas element -->
    <canvas id="languages_chart" width="600" height="400"></canvas>
    <script>
        get_language_stats_chart({{languages_stats|safe}});
    </script>
    <canvas id="topics_chart" width="300" height="300"></canvas>
    <script>
        get_topics_chart({{topics_stats|safe}});
    </script>
</body>
